{
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "plugins": [
    "prettier-plugin-vue",
    "prettier-plugin-organize-attributes",
    "prettier-plugin-tailwindcss"
  ],
  "attributeGroups": ["$CODE_GUIDE"]
}
