.product {
  &-more-tag {
    display: block;
    padding: 4px;
    width: 200px;
    text-align: center;
    background-color: #fff;
    border: 1px solid var(--color-gray-set);
    border-radius: 25px;
  }
}

// element plus custom style

// table style
.el-table {
  &.custom-table {
    --el-table-border-color: #555;

    th.el-table__cell {
      font-size: 18px;
      letter-spacing: 2px;
      text-align: center;
      color: var(--color-black);
      background-color: var(--color-gray-eaeaea);
    }

    .el-table--border,
    .el-table--border th,
    .el-table--border td {
      border-color: var(--el-table-border-color);
    }

    .el-table--border::after,
    .el-table--group::after,
    .el-table::before {
      background-color: var(--el-table-border-color);
    }

    .el-table__body td.el-table__cell {
      text-align: center;
    }

    tr {
      background-color: var(--color-white-set);
    }
  }
}
