@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
/* 
  sm	40rem (640px)	@media (width >= 40rem) { ... }
  md	48rem (768px)	@media (width >= 48rem) { ... }
  lg	64rem (1024px)	@media (width >= 64rem) { ... }
  xl	80rem (1280px)	@media (width >= 80rem) { ... }
  2xl	96rem (1536px)	@media (width >= 96rem) { ... }

  max-sm	@media (width < 40rem)
  max-md	@media (width < 48rem)
  max-lg	@media (width < 64rem)
  max-xl	@media (width < 80rem)
  max-2xl	@media (width < 96rem) 

  --radius-outside: 92px;
  --radius-middle: 72px;
  --radius-inside: 32px;
  --radius-small: 16px;
*/
@theme static {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1536px;

  --color-blue-set: #2c3847;
  --color-blue-fixed: #2c3847;
  --color-white-set: #f8f8f8;
  --color-white-fixed: #f8f8f8;
  --color-medium-gray: #dedede;
  --color-light-gray: #c8c8c8;
  --color-green: #0fde8c;
  --color-light-blue: #1ab0fc;
  --color-gray-dedede: #dedede;
}
@layer base {
  :root {
    --color-white-set: #f8f8f8;
    --color-blue-set: #2c3847;
    --color-medium-gray: #dedede;
    --list-hover-set: rgb(0, 0, 0, 0.3);
  }

  .dark {
    --color-white-set: #2c3847;
    --color-blue-set: #f8f8f8;
    --color-medium-gray: #2c3847;
    --list-hover-set: rgb(255, 255, 255, 0.35);
  }
  /* h1 {
    @apply text-4xl font-bold text-black;
  }
  h2 {
    @apply text-3xl font-semibold text-black;
  }
  */
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }
}

@utility container {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 1rem;
}
