@import 'tailwindcss';

@theme static {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1536px;

  --color-black: #555;
  --color-white-set: #f7f7f7;
  --color-gray-set: #b5b5b5;
  --color-gray-bababa: #bababa;
  --color-gray-9ea6b9: #9ea6b9;
  --color-gray-d9d9d9: #d9d9d9;
  --color-gray-8994a6: #8994a6;
  --color-gray-888888: #888888;

  --transition-set: cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

/* 
  sm	40rem (640px)	@media (width >= 40rem) { ... }
  md	48rem (768px)	@media (width >= 48rem) { ... }
  lg	64rem (1024px)	@media (width >= 64rem) { ... }
  xl	80rem (1280px)	@media (width >= 80rem) { ... }
  2xl	96rem (1536px)	@media (width >= 96rem) { ... }

  max-sm	@media (width < 40rem)
  max-md	@media (width < 48rem)
  max-lg	@media (width < 64rem)
  max-xl	@media (width < 80rem)
  max-2xl	@media (width < 96rem) 
*/
@utility container {
  margin-inline: auto;
  padding-inline: 0.5rem;

  @media (width < 48rem) {
    padding-inline: 1rem;
  }
}

/* tailwind css set h1 h2 h3 h4 h5 h6 style */
@layer base {
  h1 {
    @apply text-4xl font-bold text-black;
  }
  h2 {
    @apply text-3xl font-semibold text-black;
  }
  h3 {
    @apply text-2xl font-medium text-black;
  }
  h4 {
    @apply text-xl font-medium text-black;
  }
  h5 {
    @apply text-lg font-medium text-black;
  }
  h6 {
    @apply text-base font-medium text-black;
  }
}
